<!-- Assigning the properties of the card component with 
  values -->
<!-- Now Im iterating thorugh each of the post inside of the
  posts array and Im rendering a card component for it Now within the
  element that Im rendering I also get access to the post for which Im 
  rendering that element for hence i can access that post's properties and
  pass them as input to the element that Im rendering for it -->
<app-card
  *ngFor="let post of posts"
  [title]="post.title"
  [imageURL]="post.imageURL"
  [content]="post.content"
  [username]="post.username"
></app-card>
